<h2>Instructor page</h2>

  <input class="btn btn-primary" type="button" value="Add Insturctor"
      onclick="@("window.location.href='" + @Url.Action("addinstructor", "Instructor") + "'");" />
<div>
   <table class="table">
      <thead class="thead-dark">
         <tr>
            <th>Instructor ID</th>
            <th>Instructor Firstname</th>
            <th>Instructor Lastname</th>
            <th>Intructor Status</th>
            <th>Instructor Rank</th>
            <th>Instructor Date Hired</th>
            <th>Details</th>
         </tr>
      </thead>
      <tbody>
         @{
            foreach (var element in Model)
            {
               <tr>
                  <td>@element.id</td>
                  <td>@element.firstName</td>
                  <td>@element.lastName</td>
                  <td>@{

                        if(@element.isTenured == true){
                           <span>Full-Time</span>
                        } else {
                           
                           <span>Part-Time</span>
                        }
}
                  </td>
                  <td>@element.instructorRank</td>
                  <td>@element.instructorDateHired</td>
                  <td>
                     <a asp-action="ShowDetails" asp-route-id="@element.id">Show Details</a>
                  </td>
               </tr>
            }
         }
      </tbody>
   </table>
</div>
