<h2>Instructor page</h2>

<div>
   <table>
      <thead>
         <tr>
            <th>Instructor ID</th>
            <th>Instructor Email</th>
            <th>Instructor Name</th>
            <th>Instructor Rank</th>
            <th>Instructor Date Hired</th>
         </tr>
      </thead>
      <tbody>
            @{
                foreach (var element in Model)
                {
                 <tr>
                    <td>@element.instructorID</td>
                    <td>@element.instructorEmail</td>
                    <td>@element.instructorName</td>
                    <td>@element.instructorRank</td>
                    <td>@element.instructorDateHired</td>
                 </tr>
                }
            }
      </tbody>
   </table>
</div>

