<h2>Student List</h2>


<table class="table">
   <thead>
      <tr>
         <td>Student ID</td>
         <td>Name</td>
         <td>Email</td>
         <td>Course</td>
         <td>Enrolled</td>
         <td>Details</td>
      </tr>
   </thead>
   <tbody border="1px">
      @{
         foreach (var student in Model)
         {
            <tr>
               <td>@student.studentID</td>
               <td>@student.studentName</td>
               <td>@student.studentEmail</td>
               <td>@student.studentCourse</td>
               <td>@student.DateEndrolled</td>
               <td>
                  <a asp-action="ShowDetails" asp-route-id="@student.studentID">Show Details</a>
               </td>
            </tr>
         }
      }
   </tbody>
</table>
